<div class="row">
  <div class="col-sm-12">
    <div class="header">
      <ul class="navigation">
        <li class="logo">Just Don't Be Boring</li>

        <li><a href="/">Reviews</a></li>
      </ul>
    </div>
  </div>
</div>
