<div class="row">
  <div class="col-sm-12">
    <div class="social">
      <p>
        Let's connect:
        <a href="mailto:justdontbeboring@gmail.com"
          >justdontbeboring@gmail.com</a
        >
      </p>

      <p>
        Follow me on Instagram:
        <a href="https://www.instagram.com/justdontbeboring/"
          >@JustDontBeBoring</a
        >
      </p>

      <p>
        Follow me on Twitter:
        <a href="https://www.twitter.com/anddontbeboring/">@AndDontBeBoring</a>
      </p>
    </div>
  </div>
</div>
